<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link"  style="color: rgb(110, 107, 107);" href="/">Coronavirus Global Cases</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link"  style="color: rgb(110, 107, 107);" href="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

