<div class="container">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Latest Total Cases</th>
            <th scope="col">New Cases</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let location of locationStats">
            <td>{{location.state}}</td>
            <td>{{location.country}}</td>
            <td>{{location.latestTotalCases}}</td>
            <td>{{location.newCases}}</td>
        </tr>
    </tbody>
</table>
</div>
