<div class="container">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Start searching for a hero by id or name or country">
    </div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Latest Total Cases</th>
            <th scope="col">New Cases</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let location of locationStats | filter:searchText">
            <td>{{location.state}}</td>
            <td>{{location.country}}</td>
            <td>{{location.latestTotalCases}}</td>
            <td>{{location.newCases}}</td>
        </tr>
    </tbody>
</table>
</div>
