<div class="container">
    <div class="input-group ">
        <input class="form-control"  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching by any field">
        
    </div>
    <br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Latest Total Cases</th>
            <th scope="col">New Cases</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let location of locationStats | filter:searchText">
            <td>{{location.state}}</td>
            <td>{{location.country}}</td>
            <td>{{location.latestTotalCases}}</td>
            <td>{{location.newCases}}</td>
        </tr>
    </tbody>
</table>
</div>
